# These requirements are for running tests, the library itself only needs a
# subset, see setup.py for that list

coverage==5.0.3
matplotlib==3.2.2
numpy==1.18.5
pandas==1.0.5
pudb==2019.2
requests==2.22.0
Sphinx==2.4.2
sphinx-rtd-theme==0.4.3
scipy==1.5.2